<!doctype html>
<html>
<head>
  <title>{{#game}}{{name}}{{/game}} - Nodenames</title>
  <link rel="stylesheet" href="/style.css">
  <script>var admin = {{admin}}, game = {{&json}};</script>
  <script src="/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/game.js"></script>
</head>
<body>
  <form method="post" action="clue" target="dummy">
    <section id="header">
      <table>
        <tr>
          <td>
            <sup>wordlist</sup>
            {{#game}}{{wordlist}}{{/game}}
            <input class="dummy" type="submit">
            <iframe class="dummy" name="dummy"></iframe>
          </td>
          <td>
            <sup class="labels">clue</sup>
            <div class="tooltip">
              <input type="text" required pattern="\S+" size="32" placeholder="Clue..." name="clue">
              <aside>a single word</aside>
            </div>
            <div class="clues">
              <span id="clue"></span>
              <a href="#" id="pass">
                <aside>pass</aside>
              </a>
            </div>
          </td>
          <td>
            <sup class="labels">count</sup>
            <div class="tooltip">
              <input type="number" required pattern="\d+" placeholder="Count..." name="count">
              <aside>use any large number for &infin;</aside>
            </div>
            <div class="clues" id="count"></div>
          </td>
        </tr>
      </table>
    </section>
    <section id="board">
      <table></table>
    </section>
    <section id="control">
      <section id="wrapper">
        <div id="self">
          <div class="tooltip">
            <input type="text" required pattern=".*\S.*" placeholder="Your name..." name="name" id="name">
            <aside>enter your name and select a team</aside>
          </div><!--
          --><input type="radio" class="team" name="team" value="red" id="red"><!--
          --><label for="red" class="shadow"></label><!--
          --><input type="radio" class="team" name="team" value="blue" id="blue"><!--
          --><label for="blue" class="shadow"></label>
        </div>
        <div id="chatbox">
          <table>
            <tbody></tbody>
          </table>
          <input type="text" placeholder="Chat...">
        </div>
      </section>
    </section>
  </form>
</body>
</html>
