html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

section > table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  text-align: center;
}

input[type=text], input[type=number], input[type=submit], select {
  border: 0;
  height: 30px;
  padding: 0 5px;
  box-sizing: border-box;
  vertical-align: top;
}

input:invalid {
  color: red;
}

input:invalid:placeholder-shown          { color: red; }
input:invalid::-webkit-input-placeholder { color: red; }
input:invalid::-moz-placeholder          { color: red; }
input:invalid:-ms-input-placeholder      { color: red; }

aside {
  transition: opacity .25s;
  top: 100%;
  left: 0;
  right: 0;
  display: block;
  position: absolute;
  background-color: black;
  color: white;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  line-height: 1;
  border-radius: 10px;
  opacity: 0;
}

aside:before {
  content: "";
  width: 0;
  height: 0;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  top: -20px;
  border: 10px solid transparent;
  border-bottom-color: black;
}

input:invalid + aside {
  opacity: 0.75;
  width: 150px;
  margin: 12px auto;
}

#pass > aside {
  opacity: 0.75;
  width: 50px;
  margin: -8px auto;
}

a {
  text-decoration: none;
  color: blue;
}

.tooltip {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.shadow, input, select, aside {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.dummy {
  display: none;
}

#games {
  max-width: 80%;
  margin: auto;
  font-size: 25px;
  border-spacing: 20px 10px;
}

#games td {
  padding: 0;
  position: relative;
}

#games sub {
  display: block;
  font-size: 12px;
  white-space: nowrap;
}

#newgame {
  text-align: center;
}

.thumb {
  border-collapse: collapse;
}

.thumb td {
  width: 10px;
  height: 8px;
  background-color: lightgray;
}

#header, #self {
  position: relative;
  z-index: 2;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 350px;
  height: 70px;
  background-color: lightgray;
  background-image: linear-gradient(0deg, white, transparent);
  font-size: 25px;
  line-height: 30px;
  transition: background-color .25s;
}

#header table {
  padding: 0 20px;
}

#header td {
  position: relative;
}

#header td:first-of-type {
  text-align: left;
}

#header td:last-of-type {
  text-align: right;
}

#header sup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 12px;
}

#pass {
  text-decoration: none;
  color: blue;
}

#board {
  position: fixed;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 350px;
  overflow: auto;
}

#board table {
  border-spacing: 20px;
}

#board td {
  padding: 10px;
  background-color: lightgray;
  transition: transform .1s, box-shadow .1s;
}

.guessable .unrevealed {
  cursor: pointer;
}

.guessable .unrevealed:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}

#control {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 350px;
  background-color: #eee;
  box-sizing: border-box;
  box-shadow: inset 2px 0 3px -2px rgba(0, 0, 0, 0.5);
}

#wrapper {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

#name {
  width: 240px;
}

.team {
  display: none;
}

.team + label {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  position: relative;
  margin-left: 5px;
  cursor: pointer;
}

.team + label:before {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
}

.team:checked + label:before {
  content: "✔";
}

#red + label {
  background-color: tomato;
}

#blue + label {
  background-color: powderblue;
}

#chatbox {
  overflow: hidden;
}

#chatbox table {
  position: absolute;
  bottom: 30px;
  padding: 5px 0;
  display: inline-block;
  width: 100%;
}

#chatbox input {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sender {
  font-weight: bold;
  text-align: right;
  padding-right: 5px;
  vertical-align: top;
}

.admin {
  font-style: italic;
}
